@media (max-width: 991.98px) {
 //tablet
}

@media (max-width: 639.98px) {
    .header{
        &__title{
            font-size: 32px;
        }
        &__title-sup{

        }
        &__socials{
            top: 85%;
            right: 0;
            left: 0;
            transform: none;
        }
        &__socials-items{
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
        }
        &__socials-item{
            font-size: 8px;
            margin-right: 0;
        }
    }
}